@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

/*Table Of Content
-body
-header
-.layout_boxed
-.layout_dark
-#full_page

-.rev_slider_wrapper

-#grid_box
	-.box_container
		-.grid_box
			-.grid_body

-#parallax2

-.design
	-.design_img
	-.descrp

-#featured_product
	-.product_wrap
		-.image
		-.product_desc

-#seller
	-.seller-slider
-#slogan
	-.sloganBg

-#blog
	-.blog_box
	-.blog_item
		-.blog_image
		-.blog_text

-#brands
	-.brand-slider

-#newsletter
	-.newsletter

-#testinomial
	-.tstinomial-slider
	-.availability
-#testinomialBg

-footer
	-.footer_panel
		-.about_foot
		-.account_foot
-.copyright

*/



/*General Styling*/
body,html{
	height:100%;
	width:100%;
}
body{
	font-size:16px;
	padding:0;
	margin:0;
	color:#201f1f;
	font-family: 'Lato', sans-serif;
	overflow-x:hidden;
}
::-webkit-input-placeholder {
    color:#707070;
	 opacity:  1;
}
:-moz-placeholder {
   color:#707070;
   opacity:  1;
}
::-moz-placeholder {
   color:#707070;
   opacity:  1;
}
:-ms-input-placeholder {
   color:#707070;
	opacity:  1;
}
input, textarea{
	box-shadow:none !important;
}
ul, ol{
	padding:0;
	margin:0;
	list-style:none;
}
a, a:hover, a:focus{
	text-decoration:none;
	outline:none;
	color:inherit;
}
h1,h2, .footer_panel h4, #seller h3, .heading{
	font-family: 'Oswald', sans-serif;
	font-weight:bold;
}
.btn-common, .btn-white, .btn-dark, .btn-light, .readmor,
.heading_border, header ul.cart-list .cart-btn > a,
.availability h5, #tstinomial-slider .testinomial_pic h6,
.rev_slider_wrapper h3,
.design h3, .blog_box .media-body .media-heading, .blog_box .media-body h5, .message h4,
#error .error_content h2,
.input-group-wrapper .input-group-addon > button, #contact .contact-form .btn-form, .contact_detail .address h5,
.set > a, .widget h5,
#cart .table-responsive > .table thead  tr > th,
.blog_item .blog_text h5,  .blog-reply h5{
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
}
.topbar .top_link li a, header nav.navbar.bootsnav ul.nav > li > a{
  font-family: 'Montserrat', sans-serif;
}
.footer_panel .about_foot li, .footer_panel .account_foot li a, .price, .grid_box .grid_body h3{
  font-family: 'Lato', sans-serif;
}
p, .availability span, .seller-slider .media-body .media-heading, .posts .media-body h5{
	font-family: 'Lato', sans-serif;
	font-style:oblique;
}
.rev_slider_wrapper h1 > strong, #parallax2 h2 > strong,
.arrival_wrap .overlay_arrival .inner h1, .arrival_wrap .overlay_arrival .inner h2, .arrival_wrap .overlay_arrival .inner h3,
.header_layout2 h2 > strong{
	font-family: 'Raleway', sans-serif;
	font-weight:800;
}
#parallax2 h2, #parallax2 h3,
.header_layout2 h2, .header_layout2 h3{
	font-family: 'Raleway', sans-serif;
}
h1,h2,h3,h4, h5{
	margin:0;
}
h1{
	font-size:28px;
}
h2{
	font-size:24px;
}
h3{
	font-size:18px;
}
h4{
	font-size:16px;
}
h5{
	font-size:14px;
}
p, .seller-slider .media-body .media-heading{
	color:#606060;
}
.padding{
	padding:90px 0;
}
.padding_bottom{
	padding-bottom:90px;
}
.padding_top{
	padding-top:90px;
}
.margin_top{
	margin-top:90px;
}
.margin_bottom{
	margin-bottom:90px;
}
.bottom_half{
	padding-bottom:45px;
}
.heading_space{
	margin-bottom:20px;
}
.content_space{
	margin-bottom:45px;
}
.margintop40{
	margin-top:40px;
}
.margintop10{
	margin-top:10px;
}
.margintop10{
	margin-top:10px;
}
.marginbottom10{
	margin-bottom:10px;
}
.marginbottom15{
	margin-bottom:15px;
}
.bottomto40{
	margin:40px 0;
}
.bottom30{
	margin-bottom:30px;
}
.margintop30{
	margin-top:30px
}
.bottomtop30{
	margin:30px 0;
}
.border-radius{
	border-radius:4px;
}
.heading_border{
	padding-left:15px;
	border-left:2px solid #79b6c8;
}
.uppercase{
	text-transform:uppercase;
}

/*Buttons*/
.btn-common, .btn-white, .btn-dark, .btn-light{
	font-size:12px;
	display:inline-block;
	padding:12px 30px;
	position:relative;
	overflow:hidden;
	z-index:1;
}
.btn-white{
	border:1px solid #fff;
}
.btn-white, .btn-dark, .btn-light{
	color:#fff;
}
.btn-dark{
	background:#303030;
	border:1px solid transparent;
}
.btn-light{
	background:#78b5c7;
	border:1px solid transparent;
}
.btn-common{
	border:1px solid #353535 !important;
	color:#353535;
}
.readmor{
	display:inline-block;
	font-size:12px;
}
.readmor:hover, .readmor:focus{
	color:#79B6C8;
}
.readmor > i{
	margin-left:5px;
}
.btn-light:hover, .btn-light:focus{
	border-color:#303030;
	color:#fff;
}
.btn-light:after{
	background:#303030;
}
.btn-common:after, .btn-dark:after, .btn-white:after{
	background:#79B6C8;
}
.btn-common:hover, .btn-common:focus, .btn-dark:hover, .btn-dark:focus, .btn-white:hover, .btn-white:focus{
	border-color:#79B6C8 !important;
	color:#fff;
}
.btn-common:after, .btn-light:after, .btn-dark:after, .btn-white:after{
	opacity: .5;
	-moz-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	-webkit-transform: translateY(-50%) translateX(-50%) rotate(90deg);
	transform: translateY(-50%) translateX(-50%) rotate(90deg);
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}
.btn-common:hover::after, .btn-light:hover::after, .btn-dark:hover::after, .btn-white:hover::after{
	opacity: 1;
	height: 600% !important;
}


/* ----------------- Widget ----------------- */
/*Back to TOP*/
.go-top {
	background:#79b6c8;
	border-radius: 50%;
	color: #fff;
	display: inline-block;
	font-size: 20px;
	height:48px;
	left: 50%;
	margin-left: -24px;
	position: absolute;
	right: 50%;
	width:48px;
	line-height:46px;
	z-index:5;
	top:0;
}
/*Pagination */
.pager{
	text-align:left;
	margin:0;
}
.pager > li{
	display:inline-block;
}
.pager > li a{
	display:block;
	background:#dcdcdc;
	color:#fff;
	border-radius:100%;
	height:38px;
	width:38px;
	padding:5px;
	font-size:16px;
	line-height:27px;
	text-align:center !important;
}
.pager > li a > i{
	font-size:18px;
}
.pager > li.active a{
	background:#79b6c8;
}
.pager > li a:hover, .pager > li a:focus{
	background:#535353;
}
.widget h5{
	padding-bottom:3px;
	border-bottom:1px solid #d9d9d9;
}

/* Accordions */
.accordion-container{
  position: relative;
}
.set{
  position: relative;
  width: 100%;
  height: auto;
}
.set > a{
  display: block;
  padding:10px 0;
  color: #222222;
  font-size:14px;
  border-bottom: 1px solid #d9d9d9;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
}
.set > a i{
  position:relative;
  float: right;
  margin-top:4px;
  color: #222222;
}
.set > a.active{}
.content{
  position:relative;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding:20px 0;
  display:none;
}
.content ul li a{
  color: #606060;
  margin-bottom:10px;
  display:block;
}
.content ul li:last-child a, ul.category li:last-child a{
	margin-bottom:0;
}
.content ul li a:hover, .content ul li a:focus{
  color: #79b6c8;
}

/*Category*/
ul.category{}
ul.category li, ul.category li a{
	display:block;
}
ul.category li a{
	color:#606060;
	font-size:14px;
	margin-bottom:15px;
}
ul.category li a > span{
	float:right;
	color:#c2c2c2;
}

/*Range Slider*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background-color: #79b6c8;
  border-radius:50%;
  background-image:none;
  border:none;
}
.ui-widget-header {
  background-color:rgba(151,198,212,.8);
  background-image:none;
}
.ui-widget-content {
  background-color: #eeeeee;
  background-image:none;
  border-radius:0;
  border:none;
}
.ui-slider-horizontal .ui-slider-handle {
  margin-left: -0.6em;
  top: -0.3em;
}
.range p, .range button{
	display:inline-block;
	margin-top:15px;
}
.range button{
	color:#fff;
	font-size:12px;
	padding:5px 10px;
	float:right;
	border:none;
	background:#333333;
}

.posts .media-body h5{
	margin:0;
	color:#333333;
}

.posts .media-body span{
	font-size:12px;
	color:#aaa;
}
.blog_cate > li{
	display:block;
	color:#888888;
	font-size:14px;
	line-height:20px;
}
.blog_cate > li a{
	display:block;
}
.blog_cate > li a:hover, .blog_cate > li a:focus{
	color:#79b6c8;
}
.color_b{
	color:#bc8246;
}
.result{
	color:#333333;
	border-bottom:1px solid #b2b2b2;
	display:inline-block;
	padding-bottom:2px;
}

.fancybox-close{
  background-image: url("../images/close.png");
  height:44px;
  width:44px;
}
.fancybox-close, .fancybox-nav span{
  height: 44px;
  width: 44px;
}
.fancybox-prev span{
  background-image: url("../images/left.png");
  background-position:0 0;
}
.fancybox-next span {
  background-image: url("../images/right.png");
  background-position:0 0;
}


/*transitions*/
a, .availability, .owl-prev, .owl-next, header nav.navbar.bootsnav ul.nav > li > a,
header nav.navbar.bootsnav ul.nav > li > a:before,
#testinomialBg #tstinomial-slider .owl-controls .owl-page, .view-button, .image img, .design .design_img > img,
.contact-form .btn-form, .product_wrap .social{
	-moz-transition:all .3s ease-in;
	-ms-transition:all .3s ease-in;
	-o-transition:all .3s ease-in;
	-webkit-transition:all .3s ease-in;
	transition:all .3s ease-in;
}



/* ----------------- TopBar ----------------- */
.topbar{
	color:#707070;
}
.topbar .top_link{
	text-align:right;
}
.topbar .top_link li{
	display:inline-block;
	margin:0 9px;

}
.topbar .top_link li a{
	color:#707070;
	font-size:10px;
	padding:14px 0;
	display:block;
}
.topbar .top_link li:last-child{
	margin-right:0;
}
.topbar .top_link li a:hover{
	color:#79b6c8;
}

.header-top-entry{
  color: #747474;
  display:inline-block;
  font-size: 10px;
  line-height:20px;
  padding:11px 0;
  position: relative;
}
.header-top-entry .title {
  cursor: pointer;
  padding:0 15px 0 0;
  white-space: nowrap;
}
.header-top-entry .title i{
	margin-left:2px;
}
.header-top-entry .list {
  border: none;
  background-color: #fff;
  border-bottom-color: 1px solid #f4f4f4;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  left: 1px;
  min-width: 100%;
  opacity: 0;
  padding: 5px 10px;
  position: absolute;
  text-align: left;
  top: 40px;
  transform: scale(0);
  transform-origin: 50% 0 0;
  transition-delay: 0s;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: ease-out;
  z-index: 1;
}
.header-top-entry .list-entry:first-child {
  border-top-color: -moz-use-text-color;
  border-top-style: none;
  border-top-width: medium;
}
.header-top-entry .list-entry {
  border-top-color: #f0f0f0;
  border-top-style: solid;
  border-top-width: 1px;
  color: #747474;
  display: block;
  padding-bottom: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-top: 10px;
  white-space: nowrap;
}
.header-top-entry:hover .list {
  opacity: 1;
  transform: scale(1);
  z-index:1000;
}

.navbar{
	min-height:auto !important;
}
header{
	width:100%;
}
header .navbar-brand {
  float: none;
  height: auto;
  line-height: normal;
  padding:24px 0;
  display:inline-block;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left:0;
}
header .wrap-sticky nav.navbar.bootsnav{
	background:#303030;
	border:none;
}
header nav.navbar.bootsnav ul.nav > li {
	margin:0 2px;
}
header nav.navbar.bootsnav ul.nav > li > a{
  color: #fff;
  font-weight: normal;
  font-size:12px;
  text-transform:uppercase;
  position:relative;
  display:inline-block;
  padding:28px 15px;
}
header nav.navbar.bootsnav ul.nav > li.active > a,
header nav.navbar.bootsnav ul.nav > li > a:hover, header nav.navbar.bootsnav ul.nav > li > a:focus{
  color: #437c8a;
}

/*dropdown*/
nav.navbar.bootsnav ul.nav > li.dropdown > a.dropdown-toggle::after{
	display:none;
}
header nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .col-menu:last-child{
  padding-right: 0;
}
header nav.bootsnav .megamenu-content .title{
  margin-bottom: 20px;
}
header nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
header nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
  color:#606060;
  font-size:14px;
  line-height:40px;
  border-bottom:1px solid #efefef;
}
header nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a:hover,
header nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a:hover{
	color:#437c8a;
}
header nav.navbar.bootsnav li.dropdown ul.dropdown-menu {
	border:none !important;
	box-shadow:0 0 10px rgba(0,0,0,.10);
}

header .attr-nav > ul > li > a {
  color: #fff;
}

header .attr-nav > ul > li > a span.badge {
  background-color: #79b6c8;
  margin-top:-18px;
  height: 18px;
  width: 18px;
}
header ul.cart-list {
  display: none;
  position: absolute;
  right: 15px;
  width: 280px;
  z-index: 999;
  background: #fff;
}
header ul.cart-list .cart-btn{
	background:#303030;
	padding:15px;
	width:100%;
}
header ul.cart-list .cart-btn > a{
	width:100%;
	color:#888888;
	border:1px solid #888888 !important;
	padding:14px 30px !important;
	line-height:normal !important;
	text-align:center;
	display:table;
}
header ul.cart-list .cart-btn > a:hover, header ul.cart-list .cart-btn > a.active{
	color:#fff !important;
	border-color:#79b6c8 !important;
	background:#79b6c8 !important;
}
header ul.cart-list .cart-btn > a:first-child{
	margin-bottom:10px;
}
nav.navbar.bootsnav .navbar-toggle, nav.navbar.bootsnav .navbar-toggle:hover, nav.navbar.bootsnav .navbar-toggle:focus{
	background:transparent !important;
}
nav.navbar.bootsnav li.dropdown.on > .dropdown-toggle{
	color: #437c8a;
}
nav.navbar.bootsnav .navbar-toggle {
  color: #fff;
  float: right;
  margin-right: 0;
  top: 15px;
}
.dropdown-menu.animated, collapse navbar-collapse animated{
	-moz-animation-duration:.5s;
	-o-animation-duration:.5s;
	-webkit-animation-duration:.5s;
	-ms-animation-duration:.5s;
	animation-duration:.5s;
}
nav.navbar.bootsnav ul.navbar-right li.dropdown ul.dropdown-menu li a {
  text-align: left;
}

/*Search*/
.search{
	margin-left:5px;
}
.search:hover{
	color:#79b6c8
}
.search-toggle {
  position: relative;
  z-index: 999;
}
 .search-toggle .top-search {
  background-color: #fff;
  display: none;
  padding:0;
  position: absolute;
  width:300px;
  right:0;
  color:#707070;
  box-shadow:0 8px 6px -6px #eeeeee;
}
.search-toggle .top-search .input-group-addon {
  padding: 8px 15px;
  color:#707070;
}
.attr-nav li.dropdown a.dropdown-toggle::after{
	display:none;
}
nav.bootsnav.navbar-full {
  padding-bottom: 0;
  padding-top: 0;
}

/*Menu Fuill Page*/
header#full_page{
}
li.close-full-menu a{
	color:#79b6c8 !important;
}
header#full_page .navbar-brand {
  height: auto;
  line-height: normal;
}
header#full_page nav.navbar.bootsnav .navbar-toggle {
  color: #000;
}
#full_page nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a{
  font-size: 16px;
  letter-spacing: 0;
  color: #000;
}
#full_page nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a:hover,
#full_page nav.bootsnav.navbar-full .navbar-collapse ul.nav > li > a:focus{
	color:#79b6c8;
}
header#full_page nav.navbar.bootsnav .navbar-toggle {
  color: #000;
  float: none;
  top: 50%;
  margin: 0;
  left: 50%;
  transform:translate(-50%,-50%);
  position:absolute;
}
header#full_page .attr-nav {
  margin-right: 0;
  position: absolute;
  display: inline-block;
  top: 50%;
  right:15px;
  margin-top:0;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
header#full_page .attr-nav ul > li{
	display:inline-block;
}
header#full_page .attr-nav > ul > li > a {
  color: #1f1f1f;
  padding:0;
  margin-left:20px;
}

/*Right Menu*/
header.right-menu nav.navbar.bootsnav ul.nav > li > a, header.right-menu .attr-nav > ul > li > a{
	color:#1f1f1f;
}
header.right-menu nav.navbar.bootsnav .navbar-toggle {
  color: #000;
}

/*Side Menu*/
header#full_page .side, header.right-menu .side{
  background: #fff;
}

.side .widget ul.link li a {
    letter-spacing: 0px;
    border-bottom: 1px solid #eee;
    display: block;
    line-height: 38px;
}
header#full_page .side .close-side, header#full_page .side .widget ul.link li a,
header#full_page .side .widget .title,
header.right-menu .side .close-side, header.right-menu .side .widget ul.link li a,
header.right-menu .side .widget .title{
  color: #1f1f1f;
}

header#full_page .side .widget ul.link li a:focus, header#full_page .side .widget ul.link li a:hover,
header.right-menu .side .widget ul.link li a:focus, header.right-menu .side .widget ul.link li a:hover{
	color: #96c6d4;
}

/* ------------------ Slider ------------------ */
.rev_slider_wrapper {
  width: 100% !important;
  left: 0 !important;
  right: 0 !important;
}
.rev_slider_wrapper .tp-caption{
	padding:0 15px;
}
.rev_slider_wrapper p{
	font-size:18px;
}
.rev_slider_wrapper .white{
	color:#fff;
}

.rev_slider_wrapper h1 > strong{
	display:block;
	font-size:82px;
	color:#1f1f1f;
	line-height:0.7 !important;
}
.rev_slider_wrapper h1{
	font-size:80px;
	color:#437c8a;
	font-weight:400;
	font-family: 'Raleway', sans-serif;
}
/*arrows Slider*/
.tparrows{
  background:rgba(255,255,255,.45) !important;
  -webkit-border-radius:100%;
  border-radius:100%;
  transform:none;
  position:absolute;
  right:0;
  height:60px;
  width:60px;
}
.tparrows::before {
  color: #fff;
  display: block;
  font-family:'FontAwesome';
  font-size:30px;
  line-height:55px;
  text-align: center;
}
.tparrows.tp-leftarrow:before {
  content: "\f104";
}
.tparrows.tp-rightarrow:before {
  content: "\f105";
}
.tp-leftarrow, .tp-rightarrow{
	margin:5px;
}
.tparrows.tp-leftarrow:hover, .tparrows.tp-rightarrow:hover,
.tparrows.tp-leftarrow:focus, .tparrows.tp-rightarrow:focus{
	background:rgba(67,124,138,.70) !important;
}
.tparrows:hover::before, .tparrows:focus::before{
	color: #fff;
}



/* ------------------ Three Column Grid Products ------------------ */
#grid_box{}
.box_container{
	background:#fff;
	position:relative;
	top:-30px;
	z-index:8;
	padding:0 30px;
}
.grid_box{
	background:#eef0ef;
	margin-top:30px;
	position:relative;
	min-height:210px;
	display:block;
	height:auto;
	transition:all ease-in-out .5s;
}
.grid_box, .grid_box:hover .grid_body h2, .grid_box:hover .grid_body h3{
	-moz-transition:all ease-in-out .5s;
	-ms-transition:all ease-in-out .5s;
	-o-transition:all ease-in-out .5s;
	-webkit-transition:all ease-in-out .5s;
	transition:all ease-in-out .5s;
}
.grid_box:hover{
	background:rgba(121,182,200,.8);
}
.grid_box:hover .grid_body h2, .grid_box:hover .grid_body h3, .grid_box:hover .grid_body h4{
	color:#fff;
}
.grid_box:hover{
	background:#79B6C8;
}

.grid_box .image_left{
	padding-right:10px;
	width:160px;
}
.grid_box .image_left > img{
	width:100%;
	display:inline-block;
}
.grid_box .image_left, .grid_box .grid_body{
	display:table-cell;
}
.grid_box .grid_body {
  position: relative;
  vertical-align: middle;
  right:15px;
  padding:10px;
}
.grid_box .grid_body h2{
	margin-bottom:10px;
}
.grid_box .grid_body h3{
	font-weight:bold;
	color:#79b6c8;
	margin-top:15px;
}




 /* ------------------ Special Design Product ------------------ */
.design{
  border: 30px solid;
  border-image: url("../images/border.png") 30;
  position:relative;
  color:#4e4e4e;
}
.design .design_img {
  height: 100%;
  margin-bottom: -120px;
  position: relative;
  top: -60px;
  width: 100%;
  overflow:hidden;
}
.design .design_img > img {
  width: 100%;
}
.design .descrp{
  padding:40px  0 15px 0px;
}
.design .descrp:hover h3, .design .descrp h3:hover{
	color:#79b6c8;
}
.design .descrp .review{
	margin:20px 0;
}
.design .descrp .review  > li{
	display:inline-block;
}
.design .descrp .review > li + li:before{
	content:'|';
	padding:0 5px;
	color:#ccc;
}
.design .descrp .review > li a{
	color:#4e4e4e;
	font-size:14px;
}
.price{
	color:#79b6c8;
	font-weight:bold;
}
.discount{
	color:#7a7a7a;
}
.design .descrp .price > span{
	color:#4e4e4e;
	font-weight:normal;
}
.design .descrp .detail{
	font-size:14px;
}
.design .descrp .detail > span{
	color:#79b6c8;
}

.countdown-container {
	position: relative;
}

.clock-item .inner {
	height: 0px;
	padding-bottom: 100%;
	position: relative;
	width: 100%;
	margin-bottom:50px;
}

.clock-canvas {
	background-color: rgba(255, 255, 255, .1);
	border-radius: 50%;
	height: 0px;
	box-shadow: 0 0 0 6px #ebebeb inset;
	padding-bottom: 100%;
}

.text {
	color: #fff;
	font-size:16px;
	position: absolute;
	top: 50%;
	-moz-transform:translateY(-50%);
	-ms-transform:translateY(-50%);
	-o-transform:translateY(-50%);
	-webkit-transform:translateY(-50%);
	transform:translateY(-50%);
	width: 100%;
}

.text .val {
	font-size:16px;
}
.text .val,  .type-time {
	font-weight: bold;
	text-align: center;
}
.type-time {
	font-size:12px;
	margin-top:10px;
}





/* ------------------  Products wrap in Box ------------------ */
.product_wrap, .image, .image > img{
	position:relative;
}
.product_wrap .social{
	position:absolute;
	right:-100%;
	bottom:15px;
}
.product_wrap .social ul li, .product_wrap .social ul li a{
	display:block;
}
.product_wrap:hover .social{
	right:15px;
}
.product_wrap .social ul li a{
	width:34px;
	height:35px;
	color:#838383;
	border:1px solid #c8c8c8;
	border-radius:2px;
	text-align:center;
	line-height:34px;
	font-size:18px;
	margin-top:5px;
}
.product_wrap .social ul li a:hover, .product_wrap .social ul li a:focus{
	background:#79b6c8;
	border-color:#79b6c8;
	color:#fff;
}
.image{ overflow:hidden;}
.image img{
	display:block;
	width:100%;
}
.product_wrap:hover .image img, .design .design_img:hover img{
	-moz-transform:scale(1.08);
	-ms-transform:scale(1.08);
	-o-transform:scale(1.08);
	-webkit-transform:scale(1.08);
	transform:scale(1.08);
	cursor:pointer;
}
.product_wrap .product_desc{
	padding:20px 0 20px 20px;
	position:relative;
}
.product_wrap .product_desc p, .product_wrap .product_desc apan{
	display:table;
}
.product_wrap .product_desc p{
	margin-bottom:0;
}
.product_wrap .product_desc .price{
	color:#79b6c8;
	font-size:14px;
	font-weight:bold;
}
.product_wrap .product_desc i.open {
  color: #5b5b5b;
  position: absolute;
  right: 0;
  top: 20px;
  font-size: 20px;
}
.product_wrap:hover i.open{
	color:#79b6c8;
}
.tag{
	position:absolute;
	top:0;
	right:15px;
	z-index:5;
}
.tag .tag-btn{
  width: 0;
  height: 0;
  border-bottom:10px solid transparent;
  border-top:50px solid #79b6c8;
  border-left:15px solid #79b6c8;
  border-right:15px solid #79b6c8;
  display:inline-block;
}
.tag .tag-black{
  width: 0;
  height: 0;
  border-top:50px solid transparent;
  border-bottom:14px solid #79b6c8;
  border-left:20px solid #79b6c8;
  border-right:20px solid #79b6c8;
  display:inline-block;
}
.tag-btn span{
  color: #fff;
  display:inline-block;
  font-size: 12px;
  font-weight:bold;
  left:4px;
  letter-spacing:-1px;
  line-height: 0;
  position: absolute;
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  top:24px;
}

.arrival_container{
	position:relative;
	height:auto;
}
.arrival_container .arrival_wrap {
  height: 100%;
  position: relative;
  width: 100%;
}
.arrival_container .arrival_wrap > img {
  width: 100%;
}
.arrival_wrap .overlay_arrival{
	position:absolute;
	left: -68%;
	bottom:15px;
	right:0;
	height: 110%;
	width: 110%;
	background:rgba(255,255,255,.2);
	-moz-transform: skewX(45deg);
	-ms-transform: skewX(45deg);
	-o-transform: skewX(45deg);
	-webkit-transform: skewX(45deg);
	transform: skewX(45deg);
}
.arrival_wrap .overlay_arrival .inner {
  bottom: 20px;
  position: absolute;
  right: 0;
  -moz-transform:skew(-45deg)translateX(30%);
  -ms-transform:skew(-45deg)translateX(30%);
  -o-transform:skew(-45deg)translateX(30%);
  -webkit-transform:skew(-45deg)translateX(30%);
  transform:skew(-45deg)translateX(30%);
  z-index: 455;
  left:20px;
  color:#fff;
}
.arrival_wrap .overlay_arrival .inner h1{
	font-size:70px;
}




/* ------------------ Slogan With Button ------------------ */
#slogan .sloganBg{
	background:url(../images/slogan.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
	padding:40px;
	outline:1px dotted #FFF;
	outline-offset:-15px;
}
#slogan .sloganBg h2{
	font-size:28px;
}
#slogan .sloganBg h2 > span{
	color:#79b6c8;
}
#slogan .sloganBg p{
	margin-bottom:0;
	font-size:18px;
}
#slogan .sloganBg .left{
	float:left;
}
#slogan .sloganBg .right{
	float:right;
	margin-top:8px;
}
/*home2*/
.message{
	position:relative;
	border:1px dotted #c2c2c2;
	margin: 0 15px;
}
.message h4{
	margin:35px 0;
}

.message .tag-btn{
  width: 0px;
  height: 0px;
  border-left:15px solid transparent;
  border-top:15px solid #79b6c8;
  border-right:65px solid #79b6c8;
  border-bottom:15px solid #79b6c8;
  display: table;
  position:absolute;
  top:10px;
  right:15px;
  text-align:center;
}
.message .tag-btn span{
	transform:none;
	left:16px;
	top:auto;
}
/* ------------------ Slogan With Button ------------------ */




/* ------------------ Our Blogs ------------------ */
#blog{}
.blog_box {
  margin: 10px 0;
}
.blog_box .media-left {
  padding-right: 30px;
}
.blog_box .media-body{
	vertical-align:middle;
}
.blog_box .media-body .media-heading{
	font-size:48px;
}
.blog_box .media-body .media-heading > sub{
	font-size:14px;
	color:#79b6c8;
}
.blog_box .media-body h5:after{
	content:'';
	display:table;
	width:40px;
	height:3px;
	background:#79b6c8;
	margin-top:10px;
}
.blog_box:hover .media-body h5{
	color:#79b6c8;
}
.blog_item{}

.blog_item .blog_image, .blog_item .blog_image img{
	position:relative;
}
.blog_item .blog_image a{
	position:absolute;
	background:#79b6c8;
	color:#FFF;
	font-size:26px;
	text-align:center;
	line-height:70px;
	height:70px;
	width:70px;
	border-radius:100%;
	left:50%;
	top:50%;
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	opacity:0;
}
.blog_item:hover .blog_image a{
	opacity:1;
}
.blog_item .blog_image img{
	width:100%;
}
.blog_item .blog_text{
}
.blog_item .blog_text .meta{
	width:100%;
}
.blog_item .blog_text .meta > li{
	display:inline-block;
	color:#555555;
	font-size:12px;
}
.blog_item .blog_text .meta > li a{
	color:#79B6C8;
}
.blog_item .blog_text .meta > li:nth-child(2){
	margin:0 15px;
}
.blog_item .blog_text .meta > li.time{
	color:#afafaf;
}
.blog_item .blog_text .posted{
	font-size:16px;
}
.blog_item .blog_text .posted i{
	margin-right:5px;
}
.blog_item .blog_text .posted, .blog_share ul, .blog_share ul li {
  display: inline-block;
}
.blog_item .blog_text .posted a, .blog-reply h5 > a{
	color:#78b5c7;
}
#blog .blog_share {
  padding: 5px 0;
  font-size:12px;
  border-top:1px solid #e5e5e5;
}

 .blog_share ul li a {
  color: #616161;
  display: block;
  padding: 2px 5px;
}
 .blog_share ul, .blog_share p{
	 margin:5px 0;
 }
 .blog_share p > a{
	 padding: 2px 5px;
 }
 #blog .blog_share,  .blog-reply{
	 border-bottom:1px solid #e5e5e5;
 }
.blog-reply {
	padding:40px 0;
	margin-top:0;
   position: relative;
}
.blog-reply h5, .blog-reply p{
	font-size:14px;
}
#blog .pager{
	text-align:center;
}
/* ------------------ Blogs Ends ------------------ */



/* ------------------ Brand LOGOS ------------------ */
#brand-slider{
	border-bottom:1px dotted #ebebeb;
	border-top:1px dotted #ebebeb;
}
#brand-slider .item > img{
	display:inline-block;
	margin:30px;
}

/* ------------------ NewsLetter ------------------ */
#newsletter{
	background:url(../images/newsler.jpg) no-repeat;
	background-size:cover;
	background-attachment:fixed;
	background-position: center center;
	width:100%;
}
#newsletter p{
	font-size:17px;
}
form.newsletter input{
	background:transparent;
	border:1px solid #cccccc;
	border-radius:0;
	box-shadow:none;
	height:40px;
	border-right:none;
}
form.newsletter .input-group-addon{
	border-radius:0;
	border-color:#cccccc
}
form.newsletter .input-group-addon > button{
	background:transparent;
	border:none;
	display:block;
}
form.newsletter .input-group-addon:hover{
	color:#79B6C8;
}

/* ------------------ Availability Boxes & Testinomial ------------------ */
#tstinomial-slider .item{
	position:relative;
}
#tstinomial-slider .owl-prev, #tstinomial-slider .owl-next{
	top:18%;
}
#tstinomial-slider .owl-prev{
	left:15%;
}
#tstinomial-slider .owl-next{
	right:15%;
}
#tstinomial-slider .testinomial_pic img{
	margin-bottom:15px;
}
#tstinomial-slider .testinomial_pic h6{
	font-size:12px;
	margin:0;
}
#tstinomial-slider .testinomial_pic span{
	font-size:10px;
	color:#79b6c8;
}
#tstinomial-slider p{
	margin:0 5%;
	margin-bottom:0;
}

.availability{
	border:1px dotted #606060;
	color:#606060;
	padding:35px 15px;
	min-height:175px;
}
.availability:hover, .availability.active{
	border-color:#79b6c8;
	color:#79b6c8;
	cursor:pointer;
}
.availability i {
  display: inline-block;
  font-size: 36px;
  margin-bottom: 15px;
}
.availability h5{
	margin:0;
}
.availability span{
  font-size: 14px;
  color: inherit;
}
/*Testinomial on Home2*/
#testinomialBg{
	background:url(../images/testinomial.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
	background-attachment:fixed;
}
#testinomialBg #tstinomial-slider p {
	margin:0 15%;
}


/* ------------------ OWL Carousel ------------------ */
.owl-prev, .owl-next{
	opacity:1;
	margin:0;
	text-align:center;
}
#fourCol-slider .item{
	margin:0 15px;
}
#tstinomial-slider .owl-prev, #tstinomial-slider .owl-next,
#fourCol-slider .owl-prev, #fourCol-slider .owl-next{
	position:absolute;
	height:38px;
	width:38px;
	background:transparent;
	border:1px solid #dadada;
	color:#cecece;
	line-height:30px;
	font-size:26px;

}
#fourCol-slider .owl-prev{
	left:-30px;
}
#fourCol-slider .owl-next{
	right:-30px;
}
#fourCol-slider .owl-prev, #fourCol-slider .owl-next{
	top:35%;
	margin-top:-38px;
}
#tstinomial-slider .owl-prev:hover, #tstinomial-slider .owl-prev:focus,
#tstinomial-slider .owl-next:hover, #tstinomial-slider .owl-next:focus,
#fourCol-slider .owl-prev:hover, #fourCol-slider .owl-prev:focus,
#fourCol-slider .owl-next:hover, #fourCol-slider .owl-next:focus{
	background:#79b6c8;
	border-color:#79b6c8;
	color:#fff;
}


#testinomialBg #tstinomial-slider .owl-prev, #testinomialBg #tstinomial-slider .owl-next,
#tstinomial-slider .owl-pagination{
	display:none;
}
#testinomialBg #tstinomial-slider .owl-pagination{
	display:block;
	position:absolute;
	right:0;
	top:50%;
}

#testinomialBg #tstinomial-slider .owl-controls {
  margin-top:5%;
}
#testinomialBg #tstinomial-slider .owl-controls .owl-page {
	background: #b7b7b7;
	display:table;
	text-align: center;
	margin-left:2px;
	border-radius:50%;
	border:1px solid #79b6c8;
	-moz-transform:scale(0.5);
	-ms-transform:scale(0.5);
	-o-transform:scale(0.5);
	-webkit-transform:scale(0.5);
	transform:scale(0.5);
}
#testinomialBg #tstinomial-slider .owl-controls .owl-page span {
	border:none;
	transform:scale(0.9) !important;
	background:transparent;
	margin:3px;
}
#testinomialBg #tstinomial-slider .owl-controls .active {
	background: none;
	transform:scale(0.9);
}

#testinomialBg #tstinomial-slider .owl-controls .owl-page span:hover {
    background: #79b6c8;
}
#testinomialBg #tstinomial-slider .owl-controls .active span {
    background: #79b6c8;
    opacity: 1;
}

/*Sellers Slider*/
#seller h3{}
.seller-slider{
}
.seller-slider .media-body{
}
.seller-slider .owl-prev{
	right:50px;
}
.seller-slider .owl-next{
	right:15px;
}
.seller-slider .owl-prev, .seller-slider .owl-next{
	position:absolute;
	top:-75px;
	background:#dbdcdc !important;
	color:#fff !important;
	font-size:20px !important;
	line-height:22px;
	height:30px;
	width:30px;
	border-radius:50%;
	opacity:1 !important;
}
.seller-slider .owl-prev:hover, .seller-slider .owl-prev:focus,
.seller-slider .owl-next:hover, .seller-slider .owl-next{
	background:#79b6c8 !important;
}
/* ------------------ OWL Carousel ------------------ */




/* ------------------ Prallax Bacckgrounds  ------------------ */
#parallax2{
	background:url(../images/parallax2.jpg) no-repeat #d3e6eb;
	background-attachment:fixed;
	background-position:center center;
	background-size:cover;
}
#parallax2 h2, #parallax2 h3,
.header_layout2 h2, .header_layout2 h3{
	font-weight:200;
}
#parallax2 h2, .header_layout2 h2{
	font-size:60px;
}
#parallax2 h2 > strong, .header_layout2 h2 > strong{
	display:block;
}
#parallax2 h3, .header_layout2 h3{
	font-size:24px;
}

/* ------------------ Prallax Bacckgrounds  ------------------ */




/* ------------------ Page Header (inner pages) ------------------ */
.page_header{
	color:#fff;
	background:url(../images/page-header.jpg) no-repeat;
	background-size:cover;
	background-position:center center;
}
.page_header h1{
	font-size:40px;
}
.page_header p{
	color:#fff;
	font-size:18px;
}
.page_menu{
	padding-top:35px;
}
.page_menu .breadcrumb{
	border-bottom:1px solid #ebebeb;
	background:transparent;
}
.page_menu .breadcrumb > li {
  display: inline-block;
  font-size: 14px;
  color:#606060
}
.page_menu .breadcrumb > .active {
  color:#79b6c8;
}
.header_layout2{
	background:url(../images/newsler.jpg) no-repeat;
}
.header_layout2, .header_layout3{
	background-position:center center;
	background-size:cover;
}
.header_layout2 h2 > strong{
	color:#79b6c8
}
.header_layout3{
	background:url(../images/blog-header.jpg) no-repeat;
}

/* ------------------ Page Header  ------------------ */




/* ------------------ Product Grids  ------------------ */
.grid{}
.list-view .col-md-3, .list-view .col-md-4{
    width: 100%;
}

.list-view .product_wrap .image, .list-view .product_wrap .product_desc{
	display:table-cell;
	vertical-align:middle;
}
.list-view .product_wrap .image{
	padding-right:0;
	min-width:270px;
	width:auto;
}
.list-view .product_wrap .product_desc > .title, .list-view .product_wrap .product_desc span.price,
.list-view .product_wrap .product_desc i.open{
	display:none;
}

.list-view .product_wrap .product_desc .list_content h4{
	font-weight:bold;
	font-style:oblique;
}
.grid-view .product_wrap .product_desc .list_content{
	display:none;
}
.list-view .product_wrap .product_desc .list_content{
	display:block;
}
.grid .shop-grid-controls .view-button, .shop-grid-controls .entry, .side-button{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px;
}
.grid .shop-grid-controls .side-button{
	font-size:14px;
	height:34px;
	text-align:center;
	padding:3px 10px;
	background:#eeeeee;
	line-height:30px;
}
.grid .shop-grid-controls .view-button{
	padding:3px;
	background:#eeeeee;
	display:inline-block;
	height:34px;
	width:38px;
	text-align:center;
	line-height:28px;
}
.grid .shop-grid-controls .view-button:hover, .grid .shop-grid-controls .view-button.active, .grid .shop-grid-controls .side-button:hover{
	background:#79b6c8;
	color:#fff;
	cursor:pointer;
}
.grid-form .form-group{
	margin-bottom:0;
}
.grid-form .select {
    overflow: hidden;
	 border-radius:0;
    width:150px;
    position: relative;
    display: block;
	 border:none;

}
.grid-form select{
    height:36px;
	  background:#eee;
    border: 0;
	 padding:6px 12px;
	 font-size:14px;
	 font-weight:normal;
	 position:absolute;
	 left:0;
	 top:0;
    width:100%;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.grid-form .select:after {
    content:"\f107";
    font-family: FontAwesome;
	 font-size:16px;
    padding:9px 8px;
	 padding-right:0;
    position: absolute;
	 right:12px; top:-2px;
    background:transparent;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}


/* ------------------ Product Grids  ------------------ */




/* ------------------ Shop  ------------------ */
#cart{
}
.cart-form .btn-dark:hover, .cart-form .btn-dark:focus,
.contact-form .btn-dark:hover, .contact-form .btn-dark:focus{
	background:#79B6C8;
}
#cart .table-responsive > .table {
  margin-bottom: 0;
}
#cart .table-responsive > .table thead  tr > th{
	font-size:13px;
	border-bottom:none;
}
#cart .table-responsive > .table tr{
	border-bottom:1px solid #ebebeb;
}
#cart .table-responsive > .table tbody tr > td{
	padding:30px 0;
	vertical-align: middle;
}
#cart .table-responsive > .table tbody tr > td p{
	font-size:14px;
}
#cart .table-responsive > .table tbody tr > td h5{
	font-weight:bold;
}

#cart .table-responsive > .table tbody tr > td .btn-close{
	display:inline-block;
	font-size:20px;
}
#cart .table-responsive > .table tbody tr > td .btn-close:hover{
	color:#79b6c8;
}

.spinner {
  width: 100px;
}
.spinner .spinner input {
	border-radius:0;
	border-color:#ddd;
}
.spinner .input-group-btn-vertical {
  position: relative;
  white-space: nowrap;
  width: 1%;
  vertical-align: middle;
  display: table-cell;
  z-index:2;
  right:20px;
}
.spinner .input-group-btn-vertical > .btn {
  display: block;
  float: none;
  width: 100%;
  max-width: 100%;
  padding: 8px;
  margin-left: -1px;
  position: relative;
  border-radius: 0;
  border:none;
}
.spinner  .input-group-btn-vertical > .btn:hover, .spinner .input-group-btn-vertical > .btn:focus{
	background-color:transparent;
}
.spinner .input-group-btn-vertical i{
  position: absolute;
  top: 0;
  left: 4px;
}
input[type="number"] {
	-moz-appearance: textfield;
}

.cart-form .select {
    overflow: hidden;
	 border-radius:4px;
    width:100%;
    position: relative;
    display: block;
}
.cart-form select{
    height:48px;
    border: 0;
	 padding-left:12px;
	 font-size:14px;
	 font-weight:normal;
	 position:absolute;
	 left:0;
	 top:0;
    width:100%;
	 color:#888888;
   -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.cart-form .select:after {
    content:"\f107";
    font-family: FontAwesome;
    color:#888888;
	 font-size:16px;
    padding:9px 8px;
	 padding-right:0;
    position: absolute;
	 right:12px; top:5px;
    background:transparent;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
    box-sizing: border-box;
}

.shop_measures .table tr > td{
	font-size:14px;
}
.shop_measures .table tr > td h5{
	font-weight:bold;
}

/*Product Details*/
#js-pagination-slider{}
#js-pagination-slider .cbp-pagination-item::after{
	background:transparent;
}
#js-pagination-slider .cbp-pagination-active::after {
  box-shadow: inset 0 0px 0px 2px #79b6c8;
  transition: ease .5s;
}

.detail_pro h4{
	font-weight:bold;
	font-style:italic;
}
.review_list > li{
	display:inline-block;
}
.review_list > li + li::before {
  color: #ccc;
  content: "|";
  padding-bottom: 0;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0;
}
.review_list > li a{
	color:#606060;
	font-size:14px;
}
.cart-buttons a.icons{
	color:#bfbfbf;
	border:1px solid #bfbfbf;
	border-radius:3px;
	display:inline-block;
	height:43px;
	width:44px;
	text-align:center;
	line-height:42px;
	vertical-align:top;
}
.cart-buttons .btn-light > i {
  font-size: 16px;
  margin-right: 3px;
  vertical-align: middle;
}

.cart-share ul, .cart-share ul > li{
	display:inline-block;
}
.cart-share ul > li a{
	font-size:10px;
	color:#fff;
	border-radius:2px;
	padding:1px 3px;
}
.cart-share ul > li a.facebook{
	background:#3B5998;
}
.cart-share ul > li a.twitter{
	color:#00ACEE;
	background:#fafafa;
}
.cart-share ul > li a.google{
	color:#DB4A39;
	background:#fafafa;
}
.cart-share ul > li a.share{
	background:#DB4A39;

}
.cart-share ul > li a.share span{
	color:#fff;
}
.cart-share ul > li a.facebook span{
	color:#fff;
}
.cart-share ul > li a > span{
	color:#0f0f0f;
	font-size:8px;
	margin-left:2px;
}

.shop_tab {
}
.shop_tab .tabs {
  width: 100%;
}
.shop_tab .tabs li {
  cursor: pointer;
  display: inline-block;
  margin-right:30px;
}
.shop_tab .tabs li.active, .shop_tab .tabs li:hover, .shop_tab .tabs li:focus{
	color:#79b6c8;
}
.shop_tab .tab_content {
  padding: 20px 0;
  width: 100%;
}
.tab_content ol.commentlist li {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
  padding-bottom: 30px;
  position: relative;
}
.tab_content ol.commentlist li .avator {
  display: inline-block;
  float: left;
  margin-bottom: 55px;
  margin-right:15px;
  width: 50px;
}
.tab_content ol.commentlist li .avator > img {
  display: block;
}
.tab_content ol.commentlist li .comment-content {
  color: #4c4c4c;
}
.tab_content ol.commentlist li .comment-content .stars {
  position: absolute;
  right: 0;
  top: 0;
}
.tab_content ol.commentlist li .comment-content time, .tab_content ol.commentlist li .comment-content strong {
  display: inline-block;
  margin-bottom: 10px;
}
.tab_content ol.commentlist li .comment-content time {
  font-size: 14px;
}
.tab_content .review-form{
}
.tab_content .review-form label {
  font-weight: bold;
  margin-bottom: 5px;
}
.tab_content .review-form textarea.form-control {
  min-height: 150px;
}
.tab_content .review-form input.form-control{
	height:40px;
}
.tab_content .review-form .form-control{
	margin-bottom:15px;
}

.product-info .tab_content p:last-child {
  margin-bottom: 0;
}


/* end .squaredThree */
/* .squaredFour */
.squaredFour {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 20px;
}
.squaredFour label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #79b6c8;
}
.squaredFour label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top:6px;
  left:5px;
  border:2px solid #fff;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.squaredFour label:hover::after {
  opacity: 0.5;
}
.squaredFour input[type=checkbox] {
  visibility: hidden;
}
.squaredFour input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.form-group h5{
	display:inline-block;
}
#cart .contact-form label{
	display:block;
}
#cart .contact-form a{
	color:#79b6c8;
	font-size:14px;
	display:inline-block;
	float:right;
	font-weight:normal;
}
#cart a.facebook-share{
	background:#3B5998;
}
#cart a.twitter-share{
	background:#00ACEE;
}
#cart a.facebook-share, #cart a.twitter-share{
	color:#fff;
	border:none;
	margin-right:20px;
}
#cart a.facebook-share > i, #cart a.twitter-share > i{
	margin-right:10px;
	font-size:20px;
}
/*Accordions*/
#cart .set > a i {
  color: #fff;
  background:#3a3d42;
  float: none;
  font-size:10px;
  padding:5px;
  margin-right:10px;
}
/* ------------------ Shop  ------------------ */




/* ------------------ 404  ------------------ */
#error .error_content{}
#error .error_content img{
	display:inline-block;
}
#error .error_content h2{
	color:#7b7b7b;
}
#error .error_content h1{
	font-size:50px;
}
#error .error_content p{
	margin:0 13%;
}
#error .error_content p > a{
	color:#79b6c8;
}
.input-group-wrapper{
    vertical-align: middle;
}
.input-group-wrapper .form-control{
	border:1px solid #d7d7d7;
	border-radius:0;
	height:40px;
	border-right:none;
}
.input-group-wrapper .input-group-addon{
	background:transparent;
	border-radius:0;
}
.input-group-wrapper .input-group-addon > button{
	height:100%;
	width:100%;
	background:transparent;
	border:none;
	color:#000;
}




/* ------------------ Contact Us ------------------ */
#contact{}
#contact .contact-form{}
.heading{
}
.heading:after{
	content:'';
	height:2px;
	width:30px;
	display:block;
	margin-top:15px;
	background:#303030;
}
.contact-form label, .cart-form label{
  font-weight: bold;
  margin-bottom:10px;
  font-size: 16px;
}
.contact-form .form-control, .cart-form .form-control{
	border:1px solid #dddddd;
	border-radius:0;
	padding:15px;
}
.contact-form input.form-control, .cart-form .form-control{
	height:48px;
}
.contact-form textarea.form-control{
	min-height:130px;
	width:100%;
	resize:none;
}
.contact-form .btn-form{
	background:#79b6c8;
	color:#fff;
	font-size:12px;
	padding:12px 30px;
	border:none
}
.contact-form .btn-form:hover, .contact-form .btn-form:focus{
	background:#303030;
}

.contact_detail .address{
	overflow:hidden;
}
.contact_detail .address i {
  color: #79b6c8;
  float: left;
  font-size: 30px;
  margin-bottom: 30px;
  margin-right: 10px;
  vertical-align: middle;
  width: 30px;
}
.contact_detail .address h5{
	margin-bottom:10px;
}
.contact_detail .address p{
	font-size:14px;
}
.contact_detail .address h5, .contact_detail .address p {
  margin-left: 30px;
}
.btn-form{
	font-weight:bold;
}

.gmap3{
  border: 1px dashed #C0C0C0;
  width:100%;
  height: 590px;
}
.cluster{
  color: #FFFFFF;
  text-align:center;
  font-family: 'Arial, Helvetica';
  font-size:11px;
  font-weight:bold;
  cursor: pointer;
}
.cluster-1{
  background-image:url(images/m1.png);
  line-height:53px;
  width: 53px;
  height: 52px;
}
.cluster-2{
  background-image:url(images/m2.png);
  line-height:53px;
  width: 56px;
  height: 55px;
}
.cluster-3{
  background-image:url(images/m3.png);
  line-height:66px;
  width: 66px;
  height: 65px;
}









/* ------------------ Footer  ------------------ */
footer{
	width:100%;
	background: black no-repeat;
	background-size:cover;
	background-position:center top;
	color:#fff;
	position:relative;
}
footer.plain_footer{
	background:url(../images/footer-plan.jpg) no-repeat;
	background-size:cover;
}
.footer_panel h4{
	text-transform:uppercase;
}
.footer_panel .about_foot{
	background:url(../images/map-footer.png) no-repeat;
	background-size:cover;
}
.footer_panel .about_foot li{
	margin-left:20px;
}
.footer_panel .about_foot li i{
	display:inline-block;
	margin-left:-20px;
	margin-right:5px;
}
.footer_panel .about_foot li {
  display: block;
  margin-bottom: 10px;
}
.footer_panel .about_foot li:last-child{
	margin-left:0;
	margin-top:30px;
}
.footer_panel .about_foot li span{
	display:inline-block;
	height:25px;
}
.footer_panel .about_foot li span > img{
	width:100%;
	vertical-align:top;
}
.footer_panel .about_foot li, .footer_panel .account_foot li a{
	color:#8e8e8e;
	font-size:14px;
}
.footer_panel .account_foot{
}
.footer_panel .account_foot li{
	display:block;
	margin-bottom:10px;
}
.footer_panel .account_foot li a:hover{
	color:#79b6c8;
}
.footer_panel .account_foot li a:before{
	content:'';
	height:5px;
	width:5px;
	background:#8e8e8e;
	display:inline-block;
	vertical-align:middle;
	border-radius:50%;
	margin-right:5px;
}
.copyright{
	background:#2d2d2d;
}
.copyright p{
	font-size:14px;
	margin:20px 0;
}
.copyright p > a{
	color:#79b6c8;
}

.copyright ul.social{
	margin:20px 0;
	text-align:right;
}
.copyright ul.social li, .footer_panel ul.social li{
	display:inline-block;
}
.copyright ul.social li:last-child a, .footer_panel ul.social li:last-child a{
	border-right:1px dotted #8e8e8e;
}
.copyright ul.social li a, .footer_panel ul.social li a{
	color:#8e8e8e;
	display:block;
	padding:0 15px;
	border-left:1px dotted #8e8e8e;
}
.copyright ul.social li a:hover, .copyright ul.social li a:focus,
.footer_panel ul.social li a:hover, .footer_panel ul.social li a:focus{
	color:#437c8a;
}
















/*Responsive Layout*/
@media screen and (max-width:1199px){
	/*Owl Slider*/
   #fourCol-slider .owl-prev{
		left:0;
  }
   #fourCol-slider .owl-next{
		right:0;
  }
}
@media screen and (max-width:1024px){
	#parallax2, #testinomialBg{
		background-position:center center !important;
	}
}
@media screen and (max-width:991px){
  header nav.navbar.bootsnav ul.nav > li > a {
  padding:10px;
 }
 header nav.navbar.bootsnav ul.nav > li > a,
 nav.navbar.bootsnav ul.dropdown-menu.megamenu-content .content ul.menu-col li a,
 nav.navbar.bootsnav li.dropdown ul.dropdown-menu > li > a{
	 border-color: #363636 !important;
	 color:#fff;
  }
  nav.navbar.bootsnav ul.nav li.dropdown ul.dropdown-menu > li > a{
	 border-color: #363636;
	 padding:5px 0;
	 font-size:12px;
  }
  nav.navbar.bootsnav .dropdown .megamenu-content .col-menu .title{
	  border:none;
  }
 nav.bootsnav .megamenu-content .content {
  background-color: #303030;
}
 .attr-nav {
  margin-top: 10px;
  margin-right:30px;
}
.right-menu .navbar-header {
  float: none;
}
.page_header{
	padding:0;
}
.page_header h1 {
  font-size: 28px;
}
.message .tag-btn{ top:30px;}
 #parallax2, #parallax, #testinomialBg, #newsletter{
	 background-position: center center !important;
 }
 #parallax2 h2, .header_layout2 h2 {
  font-size: 40px;
}

 .gmap3{
	 height:290px;
 }
}


@media screen and (max-width:767px){
	h2 {
	  font-size: 22px;
	}
	h3{
	  font-size: 16px;
	}
	h4, p{
	  font-size:14px;
	}
	h4{
	  font-size:12px;
	}
	.topbar .top_link{
    text-align: center;
  }

  .tparrows{
	  display:none;
  }
  .rev_slider_wrapper p{
		display:none;
   }
	.rev_slider_wrapper a{
		font-size:12px !important;
		line-height:1.55 !important;
	}
  .arrival_wrap .overlay_arrival .inner h1{
	  font-size:30px;
  }
  #slogan .sloganBg .left, #slogan .sloganBg .right{
	  float: none;
	  text-align: center;
  }
   #fourCol-slider .owl-next,#fourCol-slider .owl-prev{
	  display:none;
  }
  #parallax2 h2, .header_layout2 h2{
  font-size: 40px;
 }
 #parallax2 h3, .header_layout2 h3{
  font-size: 20px;
}
.message h4{
	display:inline-block;
	font-size:12px;
}
.message .tag-btn{
	top:auto;
}

.copyright p{
  font-size: 12px;
  text-align:center;
}
.copyright ul.social{
  text-align: center;
}

}


@media screen and (max-width:480px){
	.media-body, .media-left, .media-right {
	   display: block;
	   vertical-align: middle;
  }
  .media-body, .media-left{
	  padding-right:0 !important;
	  padding-bottom:20px;
  }
  .media-body, .media-left a > img{
	width:100%;
 }
 .arrival_wrap .overlay_arrival{
	 left:15px;
 }
 .arrival_wrap .overlay_arrival, .arrival_wrap .overlay_arrival .inner{
	 transform:none;
 }
 .list-view .product_wrap .image, .list-view .product_wrap .product_desc {
  display: table;
}

.topbar .col-sm-4{
  text-align: center;
}

}















